.nav-item {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  // react-icons config
  color: white;
  font-size: 35px;
}