* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;

  main {
    flex-grow: 1;
    height: 95%;
    padding-right: 50px;
  }
}