.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: opacity 0.3s;
  
  .modalBox {
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px 0;
    width: 500px;
    border-radius: 10px;
    background: linear-gradient(167deg, #101828 0%, #475467 100%);
    color: #fff;
  }
}

.modal.fade-in {
  opacity: 1;
}