.signUp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  $logo-width: 175px;
  .logo {
    margin-top: 60px;
    width: $logo-width;
    height: calc($logo-width * 0.65);
  }

  .signup-form-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      .d-none {
        display: none;
      }
  
      .auth-signup {
        width: 100%;
        flex-direction: column;
        display: flex;
        gap: 10px;
        
        label {
          color: #FFF;
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
        }
      
        input {
          padding: 7px 15px;
        }
  
        .check-button{
          width: 40%;
  
          button {
            transform: translateY(29px);
          }
        }
      }
    }
  }

  span {
    font-size: 14px;
    color: rgba(129, 140, 248, 1);
  }
}

.verification-modal {
  line-height: 25px;

  .modal-button-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
  }
}